@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100vw;
}

p {
	margin: 0;
}

.terminal-wrapper {
	transition: all 1s;
	height: 100%;
	width: 100%;
	background-color: #000;
	color: white;
	box-sizing: border-box;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	font-family: 'Operator', 'Inconsolata', 'Arial', monospace;
	font-size: 25px;

	@media(max-device-width: 600px) {
		padding: 10px;
		font-size: 12px;
	}

	.terminal-content {
		width: 100%;
	}

	.terminal-input {
		display: flex;

		input {
			transition: all 1s;
		}

		p {
			margin: 0;
			margin-right: 11px;

			span.pre {
				margin-bottom: 0;
			}
		}
	}

	.terminal-input input {
		flex: 1;
		box-sizing: border-box;
		border: none;
		outline: none;
		padding: 0;
		padding-bottom: 5px;
		font-family: inherit;
		font-size: inherit;
		// border-bottom: 1px white solid;
		background-color: black;
		color: white;
		position: relative;
	}

	span.pre {
		transition: all 1s;
	}
	
}

.terminal-wrapper.cobalt2 {
	background-color: #0D3A58;

	.terminal-input {
		input {
			background-color: #0D3A58;
		}
	}

	span.pre {
		color: #00ec33;
	}

	span.err {
		color: #ff2c18;
	}
}