doctype html
html
	head
		title HAJ Consulting
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="/bower_components/normalize-css/normalize.css")
		link(rel="stylesheet", href="/css/style.css")
	body
		include terminal.pug

		script(src="https://cdn.polyfill.io/v2/polyfill.min.js")
		script(src="/js/main.js")